@font-face {
  font-family: FreeSerif;
  src: url("./fonts/FreeSerif.woff2") format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: FreeSerif;
  src: url("./fonts/FreeSerifBold.woff2") format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: FreeSerif;
  src: url("./fonts/FreeSerifItalic.woff2") format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: FreeSerif;
  src: url("./fonts/FreeSerifBoldItalic.woff2") format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Terminal_Grotesque;
  src: url("./fonts/terminal-grotesque.woff2") format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: SpaceMono-Regular;
  src: url("./fonts/SpaceMono-Regular.woff2") format('woff2');
}
