@media screen {


    /* variables */
    :root {
        --padding: 1.5rem;
        --main-font-size: 1rem;
        --color-grey: #333;
        --color-light: #efefef;
        --color-text: var(--color-grey);
        --color-background: var(--color-light);
        --color-btn: rgb(108, 64, 179);
        scroll-behavior: smooth;
    }


    /* Add or image */

    .AloneH {
        display: grid;
	    grid-template-rows: 1fr;
	    grid-template-columns: 1fr;
        justify-items: center;
	    width: 100%;
	    height: auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .AloneH img {
        max-width: 100%;
        height: auto;
        objet-fit: contain;
    }

    .Two-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Deux colonnes égales */
        grid-template-rows: repeat(2, 50%); /* Deux colonnes égales */
        gap: 0px 10px; /* Espace entre les images */
        width: 100%; /* La grille occupe toute la largeur */
        margin: 20px 0; /* Espacement vertical */
    }

    .Two-grid img {
        width: 100%; /* Les images remplissent leur colonne */
        height: auto; /* Conserve les proportions des images */
        border: none; /* Supprime les bordures optionnelles */
    }

    .link{
        color: blue;
        text-decoration: none;
    }


    /* global */

    html {
        padding: 0;
        margin: auto;
        color: var(--color-text);
        font-size: var(--main-font-size);
    }

    body {
        /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
        font-family:f "SpaceMono-Regular";
        font-size: 115%;
        /*background-color: var(--color-background);*/
        background-color: rgb(201, 201, 201);
        width: 100vw;
        height: 100vh;
    }

    /* titre fixe */
    .titre-fixe {
        position: sticky;
        top: 0;
        background-color: var(--color-btn);
        width: 100%;
        padding: 5px 0 10px 5px;
    }
    
    .titre-fixe h1 {
        font-size: 1rem;
        font-weight: normal;
        color: rgb(6, 0, 83)
    }

    /* structure */
    .container {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 200px;
    }


    /* images et légendes */
    .container figure {
        margin: 20px 0 120px 0;
    }

    .container figure figcaption {
        font-family: "FreeSerif", serif;
        font-size: 1rem;
        color: black;
        text-align: center;
    }

    /* chapeau */
    .container .header {
        text-align: center;
        margin-bottom: 2rem;
    }

    .container .header h1 {
        /*font-family: "FreeSerif", serif;*/
        font-family: "Terminal_Grotesque";
        line-height: 1;
        font-size: 4rem;
        font-weight: normal;
        margin: 120px 0 120px 0;
    }

    /* citation chapeau */
    .container .header blockquote {
        text-align: left;
        width: 80%;
        margin: 0;
    }

    .container .header blockquote .signature {
        text-align: right;
        margin: 10px 0 0 0;
        font-size: 0.9rem;
    }

    /* table des matières */

    .container .sommaire {
        list-style-type: none;
        padding-inline-start: 2ch;
        padding: 0;
        font-size: 1.5rem;
        border-bottom: 1px solid var(--color-text);
        border-top: 1px solid var(--color-text);
        margin: 120px 0 120px 0;
        padding: 20px 0 20px 0;
        text-align: center;
    }

    .container .sommaire a {
        text-decoration: none;
        color: var(--color-text);
    }

    .container .sommaire a:hover {
        text-decoration: wavy underline;
        text-decoration-thickness: 1px;
    }

    .container .sommaire .titre {
        margin: 0;
    }

    /* corps du texte */

    .container .chapitre {
        margin: 0 0 20px 0;
        text-align: center;
    }

    .container .chapitre h2 {
        font-family: "Terminal_Grotesque";
        text-align: center;
        margin: 0 0 10px 0;
        font-size: 5rem;
    }

    .glitch {
      position: relative;
      animation: glitch 0.8s infinite alternate;
    }

    @keyframes glitch {
      0% { text-shadow: 3px 0 magenta, -3px 0 cyan; }
      25% { text-shadow: -3px 0 magenta, 3px 0 cyan; }
      50% { text-shadow: 3px 0 cyan, -3px 0 magenta; }
      75% { text-shadow: -3px 0 cyan, 3px 0 magenta; }
      100% { text-shadow: 3px 0 magenta, -3px 0 cyan; }
    }

    /* paragraphe */

    .container .chapitre p {
        font-family: "SpaceMono-Regular";
        margin: 0 0 20px 0;
    }

    .container .chapitre p i {
        font-style: italic;
    }

    .container .chapitre p strong {
        font-weight: bold;
    }

    /* appel de note */
    .container .chapitre p sup {
        top: -0.5em;
    }

    .container .chapitre p sup a {
        color: rgb(89, 0, 255);
        text-decoration: none;
    }

    .container .chapitre p sup a:hover {
        *color: rgb(218, 17, 17);*/
    }

    /* definition */
    .container .chapitre p .definition {
        background-color: rgba(173, 62, 57, 0.4);
        color: black;
        border-radius: 3px;
        cursor: pointer;
        position: relative;
    }

    .container .chapitre p .hide {
        display: none;
    }

    .container .chapitre p .definition:hover + .hide {
        display: block;
        position: absolute;
        font-family: "Freesans", sans-serif;
        background-color: #ad3e39;
        color: white;
        border-radius: 3px;
        font-size: 1rem;
        line-height: 1.2;
        width: 180px;
        padding: 5px;
        transform: translate(-180px, -25px);
    }

    /* second paragraphe */
    .container .chapitre .paragraphe {
        font-family: "SpaceMono-Regular";
        text-align: center;
        /*color: rgb(145, 141, 141);*/ 
        color: black;
    }

    /* citation */
    .container .chapitre blockquote {
        margin: 60px 0 60px 0;
        padding: 0 0 0 60px;
        width: 80%;
    }

    .container .chapitre blockquote .signature {
        font-size: 0.9rem;
        text-align: right;
        margin: 10px 0 0 0;
    }


    /* video */
    .container .chapitre .video-container {
        margin: 20px 0 120px 0;
    }

    .container .chapitre .video {
        aspect-ratio: 16 / 9;
        width: 100%;
    }

    /* table */

    .data {
        width: 100%;
        border-collapse: collapse;
        margin: 60px 0 120px 0;
    }

    .data td, .data tr {
        padding: 10px;
        border: 1px solid grey;
    }

    .data tr:nth-child(even) {
        background-color: rgb(168, 168, 168);
    }

    .data th {
        background-color: var(--color-grey);
        color: white;
        font-weight: normal;
        padding: 12px;
        text-align: left;
    }

    /* notes */
    .container .notes {
        margin: 60px 0 0 0;
        padding: 60px 0 0 0;
        width: 100%;
        font-size: 0.8rem;
        line-height: 1rem;
        border-top: 1px solid black;
    }

    .container .notes ol {
        padding: 0 0 0 20px;
    }

    .container .notes ol li {
        padding: 0 0 0 10px;
        margin: 0 0 10px 0;
    }

    .container .notes ol li a {
        color: var(--color-text);
    }

    /* annexe */

    .container .annexe {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 120px 0 0 0;
        border-top: 1px solid black;
        padding: 60px 0 0 0;
    }

    .container .annexe article {
        flex: 1 0 50%;
        margin: 0 0 30px 0;
        padding: 0 30px 0 0;
        width: 100%;
    }

    .container .annexe article:last-child {
        flex: 0 1 50%;
    }

    .container .annexe article h2 {
        font-size: 1rem;
        font-weight: normal;
        margin: 0 0 10px 0;
        line-height: 1.2;
    }

    .container .annexe article p {
        font-family: "Freeserif", serif;
        font-size: 0.9rem;
    }

    /* bouton pour remonter la page */

    .bouton-top {
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: var(--color-btn);

    }

    .bouton-top:hover {
        background-color: var(--color-grey);
    }

    

}

/* version mobile */

@media only screen and (min-width: 1px) and (max-width: 900px) {


    /* structure */

    .container {
        max-width: 100%;
    }

     /* citation chapeau */

    .container .header blockquote {
        text-align: left;
        width: 90%;
        margin: 0 20px 0 20px;
    }

    /* table des matières */

    .container .sommaire {
        margin: 60px 0 60px 0;
    }

    .container .sommaire .titre {
        margin: 0 0 0 20px;
    }

    /* corps du texte */

    .container .chapitre {
        margin: 0 20px 0 20px;
    }

    /* paragraphe */

    .container .chapitre p {
        font-size: 1.3rem;
    }

    /* appel de note */

    .container .chapitre p sup {
        font-size: 1.3rem;
    }

    /* definition */

  .container .chapitre p .hide {
        display: hide;
    }

    .container .chapitre p .definition:hover + .hide {
        transform: unset;
        font-size: 1rem;
        width: 80%;
    }


    /* citation */
    .container .chapitre blockquote {
        padding: 0;
        width: 100%;
    }

    /* table */
    .data {
        margin: 60px 20px 80px 20px;
        width: 90%;
    }

    /* notes */

    .container .notes {
        font-size: 1rem;
        line-height: 1.6rem;
    }

    .container .notes ol {
        padding: 0 30px 0 30px;
    }

    /* annexe */
    .container .annexe {
        margin: 60px 0 0 0;
        flex-direction: column;
    }

    .container .annexe article {
        flex: 1 0 auto;
        margin: 0 0 60px 0;
        padding: 0 0 0 20px;
        width: 90%;
    }

    .container .annexe article h2 {
        font-size: 1.3rem;
    }

    .container .annexe article p {
        font-size: 1rem;
    }
}
