:root {
  --padding: 1.5rem;
  --main-font-size: 1.2rem;
  --color-grey: #333;
  --color-light: #efefef;
  --color-text: var(--color-grey);
  --color-background: var(--color-light);
  --font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
  font-family: mainFont;
  src: url(../fonts/font-title.otf), url('../fonts/font-title.woff2') format('woff2'); /* Super Modern Browsers */
}

html {
  max-width: 70%;
  padding: var(--padding);
  margin: auto;
  color: var(--color-text);
  font-size: var(--main-font-size);
}

body {
  font-family: var(--font-family-sans);
  font-size: 115%;
  background-color: var(--color-background);
}

figure {
  padding: 4rem;
}

figcaption {
  margin-top: 10px;
  font-size: 0.6em;
}

img {
  width: 100%;
}
